<!DOCTYPE html>
<!-- <html> -->

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">

<!-- Setting up the header to get in all the fonts, css, and connections -->
<head>


    <!--
        <div th:replace="fragments/head1 :: header"></div>
    -->
    <div layout:fragment="metadata" th:remove="tag">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Login Page</title>
        <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    </div>
    <title>...</title>

</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <br>
    <br>
<p style="text-align:center">
    <h1>A2 Learning Schedule</h1>
    <iframe src="https://calendar.google.com/calendar/embed?height=1000&wkst=1&bgcolor=%23D50000&ctz=America%2FLos_Angeles&title=A2%20Learning&src=MGJvcjN2bGc4ODAwZnZwcm5wb21rNzEwZTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23616161" style="border:solid 1px #777" width="800" height="1000" frameborder="0" scrolling="no"></iframe>
    <br>
    <br>
    <br>
    <h1>A2 Learning Sign Up Sheet</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd-Knt8AFW7NCbdpihgV7yEnsQEovCSjRUPI9jFWEMvOpgJcg/viewform?embedded=true" width="640" height="1230" frameborder="0" marginheight="0" marginwidth="0"></iframe>

</p>


</div>

</body>
</html>