<!DOCTYPE html>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Classes Page</title>
        <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    </div>
</head>

<body style="background-color:#ffefd7">
    <div layout:fragment="content" th:remove="tag">
    <!-- This is the homepage image like that humongous banner at the beginning -->
    <div id="home" >
        <center><img style="margin-top:69px" class="home-image" src="images/classes2.png" width=100% height=100%></center>
    </div>

    <!-- This was that part about the mission statement and stuff like that-->
    <center><div class="darksection" style="min-height:300px">
        <div style="padding-top:30px;">
            <h1 class="sectionTitle"><strong>Classes</strong></h1>
            <p class="sectionDescription">
                We teach numerous different subjects. We teach students from Pre-K to 12th, and even college level AP courses.
            </p>
            <p class="sectionDescription" style="margin-right:10px;margin-left:10px">
                The subjects are the same for each grade level. The only difference between them will be the level of teaching and the speed of the teaching. If a student was in elementary school, then the tutor would teach at that level and teach with a slow speed.

            </p>

        </div>
        <!--
        <div class="row justify-content-around">
        <div style="padding-top:50px;width:50%;padding-left:10px;">
          <img src="images/dnhsmembers/abhijay.jpg" style="border-radius:50%" width=200px>
        </div>
        <div style="padding-top:35px;width:50%;padding-left:5px">
          <h1 class="sectionTitle" style="text-align:left">Abhijay Deevi</h1>
          <p class="sectionDescription" style="text-align:left">Del Norte High School 2022</p>
          <p class="sectionDescription" style="text-align:left">Founder</p>
        </div>
        -->
    </div>

    </center>


    <!-- This is the part that's about the sessions and background information on that-->
    <div class="lightsection">
        <center>
            <p class="sectionTitle" >Tutors</p>
            <p class="sectionDescription">All the tutors for all subjects have to pass a requirement in order to teach. These requirements are at a very high standard, so it is not easy to pass. </p>
            <p class="sectionDescription">All teachers must have an A in the subject they are teaching and have an overall GPA above 3.5 to ensure that they are at a high level in school.</p>
            <p class="sectionDescription">We will only recommend teachers that have been in the same class in curriculum to create a better learning experience.</p>
        </center>
    </div>

    <!-- This is the stuff about the map and things like that-->
    <div  class="darksection">
        <center>
            <p class="sectionTitle" >Standardized Testing</p>
            <p class="sectionDescription">The standardized testing classes include things such as the SAT, ACT, or other standardized exams.</p>
            <p class="sectionDescription">These tests are very important and we understand that only the best teachers should teach the classes.<br>
                We want students to have a better learning experience and help them in school, so we want to make sure students get higher scores on these tests.</p>
            <p class="sectionDescription">To do this, the only tutors that will be allowed to teach these tests <strong><u>NEED</u></strong> to be in the 99th percentile of all people that took the test. This will ensure that only the best people are teaching the student. </p>
            <p class="sectionDescription">Tutors will look at students' previous test scores and see which parts students need most help with and fix those first. Then, they will cover the rest of SAT including strategies and other helpful things for that test. </p>
            <p class="sectionDescription">If any tutor does not do their job properly, then we will replace them with someone that is qualified. </p>

            <!-- This is just the stuff on the map-->
            <!--
            <div id="map">
              <iframe style="border: 0.2em solid #f8ac54; margin-bottom:15px;" src="https://www.google.com/maps/d/u/4/embed?mid=1nGcuXMWoCXkxTyAgz2yFx96yMMuurJpt" width="640" height="480"></iframe>
            </div>
          --><!-- This was the stuff about the links and stuff to the other branches

        <div style="margin-top:10px">
        <p class="sectionDescription" ><strong>Del Norte High School:</strong> &emsp; President: Abhijay Deevi  &emsp; Email: <a href="mailto:codingkids20@gmail.com">codingkids20@gmail.com</a></p>
        <p class="sectionDescription" ><strong>American High School:</strong> &emsp; President: Rithvik Nandam  &emsp; Email: <a href="#">n/a</a></p>
        <p class="sectionDescription" ><strong>Canyon Crest Academy:</strong> &emsp; President: Rajdeep Singh  &emsp; Email: <a href="#">n/a</a></p>
        <p class="sectionDescription" ><strong>Mount Carmel High School:</strong> &emsp; President: Sravya Chittuluri  &emsp; Email: <a href="#">n/a</a></p>
        <p style="text-align:center">
          <a target="blank" style="right:10px" class="buttons" href="https://docs.google.com/forms/u/4/d/e/1FAIpQLSfLYv0UpnEPyhvb02XK3IabqGT8xsM9jewVE5LNXfpmeXtADw/viewform">Branch Club Form</a>
          <a target="blank" style="left:10px" class="buttons" href="https://docs.google.com/document/d/1QN_RlaBIC_22vRLOWzTbtgxZyKsVrYRgwya5HjCVyeE/edit?usp=sharing">Branch Club Info</a>
          <a target="blank" style="left:30px" class="buttons" href="images/flyers/branch-club-benefits.jpg">View Flyer</a>
        </p>
        </div>
      -->
            <!--
                <p class="sectionDescription" style="color:white" >Set up your own Coding4Kidz club at your school. <br> &nbsp;</p>
                <p class="sectionDescription" style="color:white" ><strong>Del Norte High School:</strong> &emsp; President: Abhijay Deevi  &emsp; Email: <a href="mailto:codingkids20@gmail.com">codingkids20@gmail.com</a></p>
                <p class="sectionDescription" style="color:white" ><strong>American High School:</strong> &emsp; President: Rithvik Nandam  &emsp; Email: <a href="#">n/a</a></p>
                <p class="sectionDescription" style="color:white" ><strong>Canyon Crest Academy:</strong> &emsp; President: Rajdeep Singh  &emsp; Email: <a href="#">n/a</a></p>
                <p class="sectionDescription" style="color:white" ><strong>Mount Carmel High School:</strong> &emsp; President: Sravya Chittuluri  &emsp; Email: <a href="#">n/a</a></p>
                <p style="text-align:center">
                  <a target="blank" style="right:10px" class="buttons" href="https://docs.google.com/forms/u/4/d/e/1FAIpQLSfLYv0UpnEPyhvb02XK3IabqGT8xsM9jewVE5LNXfpmeXtADw/viewform">Branch Club Form</a>
                  <a target="blank" style="left:10px" class="buttons" href="https://docs.google.com/document/d/1QN_RlaBIC_22vRLOWzTbtgxZyKsVrYRgwya5HjCVyeE/edit?usp=sharing">Branch Club Info</a>
                  <a target="blank" style="left:30px" class="buttons" href="images/flyers/branch-club-benefits.jpg">View Flyer</a>
                </p>
            -->
        </center>

        <!-- This is just the footer at the bottom-->
        <!--
          <div class="footer" style="top:120px">
            <center><p style="padding-top:7px;color:black; font-size:1em">Copyright &copy 2020 Coding4Kidz</p></center>
          </div>
        -->


        <!--
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        -->
    </div>
    </div>
</body>
</html>
