<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Student</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <!-- End of head content specific to page -->
</div></head>

<body style="left:auto;right:auto;">

<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <center>
        <div class="contact" style="height: 35vh;padding-top:50px;">
            <table style="border: 1px solid;">
                <th style="padding: 15px;background-color: #972a2a;color:white;">#</th>
                <th style="padding: 15px;background-color: #972a2a;color:white;">Name</th>
                <th style="padding: 15px;background-color: #972a2a;color:white;">Student ID</th>

                <th style="padding: 15px;background-color: #972a2a;color:white;">Grade</th>
                <tr th:each="student : ${list}">
                    <td style="text-align:center;padding: 15px;" th:text="${student.id}"></td>
                    <td style="text-align:center;padding: 15px;" th:text="${student.studentID}"></td>
                    <td style="text-align:center;padding: 15px;" th:text="${student.name}"></td>

                    <td style="text-align:center;padding: 15px;" th:text="${student.grade}"></td>
                </tr>
            </table>
            <p>Student Add</p>
            <form method="POST" action="/post">
                <label for="id"></label>
                <input id="id" name="studentId">
                <label for="grade"></label>
                <input id="grade" name="grade">
                <label for="name"></label>
                <input id="name" name="name">
                <button class="btn">Submit</button>
            </form>
            <p>Student Delete</p>
            <form method="POST" action="/delete">
                <label>#</label>
                <input name="id">
                <button class="btn">Submit</button>
            </form>
        </div>
    </center>
    <!-- End of body content specific to page -->
</div>
</body>

</html>