<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Student</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="contact" style="height: 35vh;">
        <table>
            <th>#</th>
            <th>Student ID</th>
            <th>Grade</th>
            <tr th:each="student : ${list}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.studentID}"></td>
                <td th:text="${student.grade}"></td>
            </tr>
        </table>
        <p>Student Add</p>
        <form method="POST" action="/post">
            <label for="id"></label>
            <input id="id" name="studentId">
            <label for="grade"></label>
            <input id="grade" name="grade">
            <button class="btn">Submit</button>
        </form>
        <p>Student Delete</p>
        <form method="POST" action="/delete">
            <label>#</label>
            <input name="id">
            <button class="btn">Submit</button>
        </form>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>